.card {
  width: 90%;
  border-radius: 0.8rem;
  overflow: hidden;
  max-width: 34rem;

  display: flex;
  flex-direction: column;

  background: var(--card-background);
  box-shadow: 0 3rem 5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.card__image-wrapper {
  max-height: 20rem;
  overflow: hidden;
}

.card__image {
  width: 100%;
}

.card__content {
  padding: 3.2rem 3.2rem 2rem;
}

.card__content h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.4rem;

  color: var(--very-dark-grayish-blue);
}

.card__content p {
  color: var(--grayish-blue);
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem;
  height: 6.4rem;

  transition: all 0.3s;
}

.share.card__footer {
  background: var(--very-dark-grayish-blue);
}

.card__footer-info {
  display: flex;
  gap: 1.6rem;
}

.card__footer-info img {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
}

.card__footer-info div h4 {
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
  font-size: 1.4rem;
}

.card__footer-info div span {
  font-size: 1.2rem;
  color: var(--grayish-blue);
}

.card__footer button {
  border: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card__footer button,
.card__footer svg {
  transition: all 0.2s;
}

.card__footer button {
  background: var(--light-grayish-blue);
}

.card__footer button:hover {
  background: var(--very-dark-grayish-blue);
}

.card__footer.share button {
  background: var(--desaturated-dark-blue);
}

.card__footer button:hover svg,
.card__footer.share button svg {
  fill: var(--light-grayish-blue);
}

.card__footer.share button:hover {
  background: var(--grayish-blue);
}

.card__footer button svg,
.card__footer.share button:hover svg {
  fill: var(--very-dark-grayish-blue);
}

.share .card__footer-share {
  display: flex;
  gap: 1.6rem;
}

.card__footer-share h3 {
  letter-spacing: 0.4rem;
  font-size: 1.4rem;
  font-weight: 500;

  color: var(--grayish-blue);
}

.card__footer-share svg {
  fill: var(--grayish-blue);
}

.card__footer-share svg:hover {
  fill: var(--light-grayish-blue);
}

.share .card__footer-info,
.card__footer-share {
  display: none;
}

@media (min-width: 992px) {
  .card {
    display: grid;
    grid-template-columns: 30rem 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "img body"
      "img body"
      "img footer";
    max-width: 76.8rem;
  }

  .card__image-wrapper {
    max-height: 100%;
    grid-area: img;
  }

  .card__image-wrapper .card__image {
    height: 100%;
  }

  .card__content {
    grid-area: body;
  }

  .card__footer {
    grid-area: footer;
  }

  .share .card__footer-info {
    display: inherit;
  }
}
