@import "./variables";
@import "./mixins";

:root {
  font-size: 60%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

html,
body,
#root {
  width: 100vw;
  height: 100vw;
}

body {
  font: 500 1.3rem Manrope;
}

#root {
  @include flex(column, center, center);

  background: $light-grayish-blue;
}

@media (min-width: $tablet) {
  :root {
    font-size: 62.5%;
  }
}
