@import "./variables";
@import "./mixins";
@import "./mixins-cross-browser";
@import "./mixins_breakpoints";

.card {
  width: 90%;
  max-width: 34rem;

  @include border-radius(0.8rem);
  @include box-shadow(0 3rem 5rem 0.5rem rgba(0, 0, 0, 0.1));
  background: $card-background;

  .card__image-wrapper {
    @include flex;
    overflow: hidden;

    max-height: 20rem;

    .card__image {
      width: 100%;

      @include border-radius(0.8rem 0.8rem 0 0);
    }
  }

  .card__container {
    padding: 3.2rem 3.2rem 0;

    .card__content {
      & > * {
        text-align: left;
      }

      .card__title {
        margin-bottom: 1.4rem;

        font-size: 1.8rem;
        font-weight: 700;

        color: $very-darkgrayish-blue;
      }

      .card__text {
        color: $desaturated-dark-blue;
      }
    }

    .card__info {
      @include flex(null, space-between, center);
      position: relative;
      margin-top: 1.8rem;
      margin-left: -3.2rem;

      width: calc(100% + 6.4rem);
      height: 6.4rem;
      padding: 0 3.2rem;

      @include transition(all 0.4s);

      .card__info-content {
        @include flex(null, null, null, 1.6rem);

        .card__info-avatar {
          height: 3.6rem;
          width: 3.6rem;
          border: 2px solid $light-grayish-blue;

          @include border-radius(50%);
          cursor: pointer;
          @include transition(transform 0.2s);

          &:hover {
            @include transform(scale(1.2));
          }
        }

        .card__info-user {
          .card__info-username {
            font-weight: 700;
            font-size: 1.4rem;
            color: $very-darkgrayish-blue;
            cursor: pointer;
          }

          .card__info-date {
            font-size: 1.2rem;
            color: $grayish-blue;
          }
        }
      }

      .card__share {
        .card__share-menu {
          display: none;

          .card__share-heading {
            letter-spacing: 0.4rem;
            font-size: 1.4rem;
            font-weight: 500;

            color: $grayish-blue;
          }

          .card__share-link {
            display: flex;

            @include transition(all 0.2s);
          }
          .card__share-icon {
            fill: $grayish-blue;
            @include transition(all 0.2s);

            &:hover {
              fill: $light-grayish-blue;
              transform: scale(1.2);
            }
          }
        }

        .card__share-button {
          @include flex(null, center, center);

          border: 0;
          width: 3.6rem;
          height: 3.6rem;

          @include border-radius(50%);
          cursor: pointer;
          background: $light-grayish-blue;

          &:hover {
            @include transform(scale(1.2));
            background: $very-darkgrayish-blue;

            .card__share-button-icon {
              fill: $light-grayish-blue;
            }
          }

          &,
          .card__share-button-icon {
            transition: all 0.2s;
          }

          .card__share-button-icon {
            // ICON POSITION FIX
            margin-top: -2px;

            fill: $desaturated-dark-blue;
          }
        }
      }

      &.share {
        background: $very-darkgrayish-blue;
        @include border-radius(0 0 0.8rem 0.8rem);

        .card__info-content {
          display: none;
        }

        .card__share {
          @include flex(null, space-between, center);

          width: 100%;
          .card__share-menu {
            @include flex;
            gap: 1.6rem;
          }

          .card__share-heading,
          .card__share-link {
            opacity: 0;
            animation: fadeIn 0.6s ease;
            animation-fill-mode: forwards;

            &:nth-child(2) {
              animation-delay: 0.2s;
            }

            &:nth-child(3) {
              animation-delay: 0.4s;
            }

            &:last-child {
              animation-delay: 0.6s;
            }
          }
        }

        .card__share-button {
          background: $desaturated-dark-blue;

          .card__share-button-icon {
            fill: $light-grayish-blue;
          }

          &:hover {
            background: $grayish-blue;

            .card__share-button-icon {
              fill: $very-darkgrayish-blue;
            }
          }
        }
      }
    }
  }

  @include response-above(lg) {
    display: grid;
    grid-template-columns: 30rem 1fr;
    // grid-template-rows: repeat(3, 1fr);

    max-width: 72rem;

    .card__image-wrapper {
      max-height: 100%;

      .card__image {
        @include border-radius(0.8rem 0 0 0.8rem);
      }
    }

    .card__container {
      padding: 3.2rem 3.2rem 1.6rem;

      .card__content {
        .card__title {
          font-size: 2rem;
        }
      }

      .card__info.share {
        background: none;

        .card__info-content {
          display: inherit;
        }
        .card__share {
          position: relative;
          width: auto;

          .card__share-menu {
            position: absolute;
            @include flex(null, center, center);
            top: -8rem;
            left: -10.2rem;

            padding: 1.6rem 0;
            width: 24rem;

            @include border-radius(0.8rem);
            background: $very-darkgrayish-blue;
            @include animation(fadeIn 0.4s ease);

            &::before {
              content: "";
              position: absolute;
              bottom: -0.8rem;

              width: 2rem;
              height: 2rem;

              @include transform(rotate(45deg));
              background: inherit;
            }
          }
        }
      }
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  text-align: center;

  padding: 1.6rem 0;
  width: 100%;

  font-size: 1.4rem;
  background: $very-darkgrayish-blue;
  color: $grayish-blue;

  a {
    font-weight: bold;
    color: $light-grayish-blue;

    @include transition(all 0.2s);

    &:hover {
      font-size: 1.8rem;
    }
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
